@use 'src/styles/vars';

.current-game {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  &__buttons {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      height: 6vh;;
    }

    & button {
      width: fit-content;
      margin: auto;
      background-color:rgba(118,8,23);
      border: 0;
      padding: 0.7rem;
      border-radius: 15px;
      color: #fff;
    }

    & p {
      color: #fff;
      text-align: center;
      font-style: italic;
      font-family: 'Special Elite', cursive;
    }

  }


  &__players {
    // border: 1px solid rgba(255, 255, 0, 0.562);
    height: 50vh;
    width: 80vw;
    margin: 5rem auto;
    // border-radius: 50%;
    position: relative;
    padding: 1rem;

    &-player {
      position: absolute;
      width: 8rem;
      height: 8rem;
      top: calc(50%-4rem);
      left: calc(50%-4rem);
      border-radius: 50%;
      background-color: #f0f;

      &--inlove {
        border: 3px solid rgb(255, 0, 76);
      }

      &--charmed {
        border: 3px solid #f0f;
      }

      & img {
        max-width: 100%;
        border-radius: 50%;
      }
    }

    &-button {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }


  &__village {
    background-color: rgb(128, 127, 128);
    margin: 0 1rem;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      text-align: center;
      height: 2vh;
    }

    &-powers {
      height: 7vh;
      padding: 0 1rem;
      display: flex;
      justify-content: center;

      &-item {
        width: 2.2rem;
        height: 2.2rem;
        background-color: aquamarine;
        margin-right: 0.2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

}

.player-info {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #3c4b65;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-1.75rem, 1.75rem);

  &--to-be-chopped {
    background-color: rgb(14, 116, 14);
  }

  &--dead {
    
    background-color: red;
  }

}

.newspaper {
  position: absolute;
  inset: 0;
  background-color: #1a1a1ae7;
  @include vars.centered-flex;

  &--closed {
    display: none;
  }

  &__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
  }
  &__container {
    background-color: vars.$secondary-color;
    padding: 0.5rem;
    width: 70%;
    height: 50%;
    box-shadow: 1px 1px 1px black;

    &-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 20%;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px vars.$primary-color;
      font-family: vars.$fontRakkas;

      &__title {
        color: vars.$tertiary-color;
        font-size: 1.3em;
      }
      &__breaking-news {
        width: 100%;
        color: vars.$quenary-color;
        text-align: center;
        font-size: 1.3em;
        letter-spacing: 0.3rem

      }
    }


    &-list {
      height: 80%;
      overflow: auto;

      &-item {
        margin-bottom: 0.5rem;
        font-family: vars.$fontRakkas;
      }
    }
  }
}
