@use 'src/styles/vars';
@use 'sass:math';

.friends {
  height: 100vh;
  padding-top: vars.$navbar-height;
  background-color: #1a1a1a;
  color: #fff;

  &__title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  &__search {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-input {
      background-color: #3c4b65;
      padding: 0.7rem;
      border-radius: 15px;
      border: 0;
      margin-top: 0.3rem;
    }

    & label {
      position: relative;
    }
    
    &-results {
      display: none;
      position: absolute;
      bottom: -15rem;
      right: 0;
      background-color: rgb(95, 93, 90);
      width: 100%;
      height: 15rem;
      overflow: auto;

      &--open {
        display: block;
      }
    }
    
  }
  &__xxx {
    height: 70%;
    width: 80%;
    margin: auto;
    overflow: auto;
    
  }
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  & svg {
    color: rgb(118,8,23);
  }

  &__infos {
    display: flex;
    padding: 0.5rem;
    align-items: center;

    &-image {
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      background-color: #3c4b65;
    }

    &-name {

    }
  }
}

.user-li {

  height: 3rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &:hover {
    background-color: rgb(118,8,23);
  }

}
