@use 'src/styles/vars';

.login, .register {
  height: vars.$main-height;
  background-color: vars.$primary-color;
  color: vars.$quaternary-color;
  font-size: 0.8em;
  
  &__logo {
    height: 35%;
  }

  &__form {
    padding: vars.$gutter;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    &-validation {
      background-color: vars.$success-box-color;
      color: vars.$succes-text-color;
      padding: 0.7rem;
      border-radius: 15px;
      border: 0;
      margin-top: vars.$gutter;
      display: flex;
      flex-direction: column;
      align-items: center;

      & a {
        color: #000;
        text-decoration: 1px underline dotted;
        font-style: italic;
        margin-top: 0.5rem;
      }
    }

    &-input {
      background-color: vars.$secondary-color;
      padding: 0.7rem;
      border-radius: 15px;
      border: 0;
      margin-top: 0.3rem;
    }

    &-error {
      margin: 0.5rem 0;
      font-style: italic;
      color: vars.$tertiary-color;
    }

    &-inscription {
      margin: auto;
      margin-bottom: 0.7rem;
      

      & a {
        font-style: italic;
        text-decoration: 1px underline dotted;
        color: vars.$tertiary-color;
      }
    }

    &-link {
      text-align: right;
      margin: 1.5rem 0;
    }

    &-button {
       display: flex;
       justify-content: center;

      & button {
        width: 100%;
        background-color:vars.$tertiary-color;
        border: 0;
        padding: 0.7rem;
        border-radius: 15px;
        color: vars.$quenary-color;
      }
    }
  }
}
