@use 'src/styles/vars';
@use 'sass:color';

.stats {

  background-color: vars.$primary-color;
  width: 100vw;
  height: vars.$main-layout-height;
  margin-top: vars.$navbar-height;
  text-align: left;
  overflow: auto;

  & h3 {
    height: 10%;
    color: vars.$tertiary-color;
    font-family: vars.$fontAbril;
    text-transform: uppercase;
    font-size: 1.5em;
    filter: drop-shadow(2px 3px 1px rgb(8, 4, 4));
    width: 100%;
    @include vars.centered-flex;
  }

  &__category {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;

    &-title {
      margin-bottom: 0.2rem;
      font-weight: bold;
      color: vars.$quenary-color;
    }

    &-chart {

      & div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // position: relative;

        @each $color in vars.$chart-colors {
          .p-#{$color} {
            width: 45%;
            padding-left: 0.9rem;
            position: relative;

            &::before {
              content: ' ';
              left: 0;
              top: 25%;
              width: 10px;
              height: 10px;
              position: absolute;
              background-color: ##{$color};
            }
          }
        }
      }
    }

    &-data {
      background-color: vars.$secondary-color;
      padding: 0.5rem;
      line-height: 1.2em;
      text-align: center;

      &-legend {
        display: flex;
        justify-content: center;

        & span {
          width: fit-content;
          position: relative;
          margin-left: 1.5rem;

          &:nth-child(0n+2) {
            &:before {
              background-color: vars.$tertiary-color;
            }
          }

          &:nth-child(0n+3) {
            &:before {
              background-color: #3d103d;
            }
          }
          &:before {
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            background-color: #dfc68a;
            position: absolute;
            left : -1rem;
            top : 25%;
            border: 1px solid black;
          }
        }
        
        &--sides {
          flex-direction: column;

          & span {
            margin: auto;
          }
        }
      }

      &-more {
        color: rgb(196, 189, 196);
        font-style: italic;
        font-size: 0.8em;
        @include vars.centered-flex;
        margin-top: 1rem;
        justify-content: space-evenly;
      }

      &-list {
        display: none;
        flex-wrap: wrap;
        margin-top: 0.5rem;

        & li {
          width: 50%;
        }
        &--open {
          display: flex;

        }
      }

      &-lists {
        text-align: left;
        display: none;

        &--open {
          display: block;
        }
      }
    }


    &-list {
      padding: 0.5rem;
      background-color: vars.$secondary-color;
      line-height: 1.2em;

      &--hidden-roles {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;

        .stats__category-list__sublist {
          // width: 48%;
          background-color: color.adjust(vars.$secondary-color, $lightness: 30%);

          margin-bottom: 0.5rem;
          font-size: 0.9em;

          &:first-child {
            // width: 98%;
          }
        }

      }
      &-item {
        // margin-bottom: 0.2rem;
      }
    }
  }
}

$sizes: 191, 363, 535, 707;

@each $size in $sizes {
  .p-#{$size}::before {
    background-color: $size;
  }
}

.statistics {
  margin-top: 0.5rem;

  &__header {
    display: flex;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;

  }
  &__list {
    display: none;

    & li {
      margin-left: 1rem;
      margin-bottom: 0.2rem;
    }
    &--open {
      display: block;
    }
  }
}
