@use 'src/styles/vars';

.characters {

  // height: 60vh;
  background-color: vars.$primary-color;
  padding: vars.$gutter;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    text-align: center;
    margin-bottom: vars.$gutter;
    color: vars.$tertiary-color;
    font-family: vars.$fontAbril;
    filter: drop-shadow(2px 3px 1px rgb(8, 4, 4));
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;

    &-flipcard {
      height: fit-content;
      }
    }

  &__link {
    margin: vars.$gutter auto 0;
    font-style: italic;
    font-size: 0.8em;
    text-decoration: underline dotted ;
    text-underline-offset: 3px;
    // border-bottom: 1px dotted black ;
  }
}
