@use 'src/styles/vars';

.footer {
    width: 100vw;
    height: vars.$navbar-height;
    background-color: vars.$primary-color;
    color: vars.$quenary-color;

    &__navbar {
        padding: vars.$gutter;
   
        &-list {
            display: flex;
            justify-content: space-between;
        }
    }
}
