@use 'src/styles/vars';

.messageprive {
    width: 100vw;
    min-height: 100vh;
    background-color: #0b2236;
    padding-bottom: 2rem;

    &__title {
        margin-top: vars.$navbar-height;
        width: 100%;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: vars.$fontRakkas;
        text-transform: uppercase;
        font-variant: small-caps;
    }
}