@use 'src/styles/vars';

.introduction {

  &__animation {

    height: vars.$main-height;
    background-image: linear-gradient(180deg, rgba(60,75,101,1) 0%, rgba(26,26,26,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: vars.$navbar-height 0 1.5rem;

    &-btn {
      @include vars.button;
    }
    
  }

  &__presentation {
    background-color: vars.$primary-color;
    color: vars.$secondary-color;
    padding: vars.$gutter;
  }
}
