@use 'src/styles/vars';

.dropdown {
  background-color: #3a3939;
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: vars.$main-height;
  padding: vars.$gutter;
  transition: 1.5s;

  &__list {

    &-li {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-separator {
      margin: 1rem auto 1rem;
      width: 80%;
      border-bottom: 1px solid #fff;
    }
  }

  &--open {
    top: vars.$navbar-height;
  }
}

.burger {

  // Code by Bilal.Rizwaan
  // https://codepen.io/Bilal1909/pen/KKdrmRP
  &__icon {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40px;
   

    &:before,
    &:after,
    & div {
      background: #000;
      content: "";
      display: block;
      height: 6px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }

  &--open {
    &:before {
      transform: translateY(12px) rotate(135deg);
    }
    &:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    & div {
      transform: scale(0);
    }
  }
  }
}
