$navbar-height: 4rem;
$main-height: calc(100vh - 4rem);
$gutter: 1rem;
$redGradient: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
$fontAbril: 'Abril Fatface', cursive;
