@use 'reset';
@use 'src/styles/vars';

body {
  font-family: sans-serif;
}


h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  
}

h3 {
  font-family: vars.$fontAbril;
}

h4 {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: vars.$gutter;
  text-transform: uppercase;
}
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
