@use 'src/styles/vars';

.personaldetails {
    width: 100vw;
    height: 100vh;
    margin-top: vars.$navbar-height;
    background-color: rgb(26, 26, 26);
    padding: vars.$gutter;

    h3 {
        text-align: center;
        text-transform: uppercase;
        padding: vars.$gutter;
    }

    &__form {
        background-color: #4d4d4d;
        width: 100%;
        height: auto;
        padding: vars.$gutter;

        &-identity {
          display: flex;
          margin-bottom: vars.$gutter;

          &-avatar {
            width: 50%;
            position: relative;
            // border: 1px solid #f0f;

            &-lib {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              background-color: black;
              width: 80vw;
              flex-wrap: wrap;
              height: 60vh;

              &-item {

                &--selected {
                  border: 2px solid red;
                }
              }
      

              &--open {
                display: block;

              }
            }



            & img {
              width: 9em;
              height: 9em;
              border-radius: 50%;
              filter: drop-shadow(2px 2px 6px black) opacity(0.9);
            }

            & button {
              position: absolute;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              // padding: 0.3rem;
              border: 0;
              top: 0;
              right: 0;
              background-color: #1a1a1ac5;
            }
          }

          &-pseudo, &-email {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            // border: 1px solid aqua;

            &-value {

              &--hidden {
                display: none;
              }
            }

            // &-input {
            //   display: block;

            //   &--open {
            //     display: block;
            //   }
            // }

          }
        }

        label {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            font-weight: bold;
        }
        
        span {
            padding-left: 1.5em;
            font-style: italic;
            font-weight: 100;
        }
        
        input {
            height: 2.5em;
            width: 100%;
        }

        &-message {
            padding: 1em;
            background-color: burlywood;
            text-align: center;
            font-weight: bolder;
            margin: 1em 0em;
        }

        &-submit {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.5em;
            margin: 1em 0em;
        }

        &-editable {
            
            .errorMessage {
                color:rgb(255, 0, 51);
                font-size: 0.8em;
            }
        }
    }
}
