@use 'src/styles/vars';

.navbar {
  position: absolute;
  top: 0;
  background-color: #1a1a1a;
  width: 100vw;
  height: vars.$navbar-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

}
