@use 'src/styles/vars';

.expansions {

  height: 50vh;
  background-color: red;
  padding: vars.$gutter;

  &__title {
    text-align: center;
    margin-bottom: vars.$gutter;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;

    &-item {
      width: 13em;
      height: 13em;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;

      &-name {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.6em;
        letter-spacing: 1px;
        margin-bottom: 0.2rem;
        font-family: vars.$fontAbril;
        filter: drop-shadow(2px 3px 1px #252325);
        text-align: center;
      }
    }
  }

  &__link {
    margin: auto;
  }
  

}

