@use 'src/styles/vars';

.input {
    height:  1.5rem;
  display: flex;
  align-items: flex-start;
  position: relative;

  &__field {
    // height: 100%;

    @include vars.input-text;
    border-radius: 0;
    
    & input::placeholder {
      color: #1a1a1a;
      font-style: italic;
    }
  }

  & svg {
    position: absolute;
    right: 0;
  }
}

::placeholder {
  color: #1a1a1a;
}
