@use 'src/styles/vars';


.profileinfo {
    background-image: vars.$redGradient;
    width: 100vw;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__avatar {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 6px black) opacity(0.9);
    }

    &__username {
        font-family: vars.$fontRakkas;
        text-transform: uppercase;
        margin-top: 1em;
        font-weight: bolder;
        
    }

    &__username:before, &__username:after {
        content: '';
        display: block;
        border-bottom: 2px solid #1a1a1a;
    }

}