@use 'src/styles/vars';

.specificity {
  margin-top: vars.$navbar-height;
  background-color: vars.$quaternary-color;
  height: calc(100vh-8rem);

  &__title {
    font-family: vars.$fontAbril;
    // padding: 2rem;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$primary-color;

    & h2 {
      color: vars.$tertiary-color;
      font-family: vars.$fontAbril;
      filter: vars.$title-shadow;
    }  
    
  }
  &__content {

    height: 85%;
    overflow: auto;

    &-description {
      padding: vars.$gutter;
      margin-bottom: vars.$gutter;

      &-text {
      text-align: justify;
      }
      
    }

    &-rules {
      padding: vars.$gutter;
      margin-bottom: vars.$gutter;

      &-item {

      &-name {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 2rem;

        &--open {
          border-bottom: 0;
          font-weight: bold;
        }

        &:hover {
          background-color: #585656;
          font-style: italic;
        }
        
      }

      &-description {
        background-color: #585656;
        display: none;
        padding: vars.$gutter 0 vars.$gutter 0.5rem ;
        font-size: 0.8em;
        border-bottom: 1px solid black;
        
        &--open {
          display: block;
          transition: 1s;
        }
      }
      }    
    }
  }

}
