

@keyframes slidein {
  from {
    top: 300px;
    right: 100px;
   }
  to   {
    top: 10px;
    right: 10px;
    box-shadow: 
    0 0 4px yellow,
    0 0 11px #fff,
    0 0 40px #f8f557,
    0 0 80px #fcf37f;;
   }
}

@keyframes lightsky {
  from {
    background-color: rgb(4, 6, 136);
   }
  to   {
    background-color: rgb(108, 195, 245);
   }
   
}.animation {
  width: 365px;
  height: 600px;
  margin: auto;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background-color: rgb(8, 8, 110);
  animation: lightsky 5s forwards ;

}

.sun {
  position: absolute;
  top: 300px;
  right: 100px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: yellow;
  animation: slidein 5s forwards ;
}

.hill-back {
  position: absolute;
  bottom: 0;
  // left: -125px;
  width: 250px;
  height: 300px;
  background-color: rgb(16, 77, 21);
  transform: scale(2, 1.2);
}

.mountain {
  position: absolute;
  top: 100px;
  left: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 180px 180px 100px;
  border-color: transparent transparent #007bff transparent;
  display: flex;
  // overflow: hidden;

  &__peak, &__peak2, &__peak3 {
    position: absolute;
    top: 0;
    left: -6px;
    width: 10px;
    height: 20px;
    background-color: white;
    // color: white;
    // border: 1px solid black;
    transform: rotate(33deg);

  }
  &__peak2 {
    left: 2px;

  }
  &__peak3 {
    left: 12px;

  }

}

.mountain2 {
  position: absolute;
  top: 100px;
  right: -120px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 180px 180px 180px;
  border-color: transparent transparent #397ec7 transparent;
  display: flex;
  // overflow: hidden;
}

.mountain-back {
  position: absolute;
  top: 120px;
  // right: -120px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 160px 160px 160px;
  border-color: transparent transparent #3b5979 transparent;
  display: flex;
  // overflow: hidden;
}

.path {
  position: absolute;
  // bottom: -220px;
  // left: 150px;
  bottom: 0;
  right: 0;
  // transform: scale(1.5);
  // width: 30px;
  // height: 500px;
  // background-color: beige;
  // transform: rotate(75deg);
}

.house {
 width: 350px;
 height: 400px;
//  border: 2px solid brown;
 position: absolute;
 bottom: 20px;
 left: 0;
//  transform: rotate(66deg);

 &__tower {

  display: flex; 

  &-left {
    width  : 15px;
    height : 250px;
    background-color: beige;
    border-right: 1px solid black;
    position : relative;
    top : 130px;

    &-roof {
      position: absolute;
      top: -93px;
      left: -23px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0px 100px 50px;
      border-color: transparent transparent #5c180c transparent;
      transform: skew(345deg);
    }
    
  }

  &-right {
    width  : 0;
    height : 250px;
    border : 25px solid transparent;
    border-left : 100px solid beige;
    position : relative;
    top : 130px;

    &-roof {
      position: absolute;
      top: -120px;
      left: -115px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 60px 90px 50px;
      border-color: transparent transparent #692013 transparent;
      transform: rotate(346deg);
      z-index: 2;
    }
  
    &:after {
      width  : 0;
      height : 0;
      content : '';
      position : absolute;
      right : 0;
      top  : -49px;
      border : 25px solid transparent;
      border-right : 100px solid beige;
    }
  }
 }

}
