@use 'src/styles/vars';

.roles {

  height: 100vh;
  background-color: #686767;
  padding: 5rem vars.$gutter vars.$gutter;

  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    // height: fit-content;
    background-color: #1a1a1a;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #686767;

    &-title {
        padding: 0.5rem 0;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: vars.$fontAbril;
        color: #9b9898;
        text-shadow: 1px 1px 1px black;
      }

      &-input {
        height: 1.5rem;
        background-color: #686767;
        border: 0;

        &-btn {
          border: 0;
          font-style: italic;
          background-color: transparent;
          text-decoration: 1px underline dotted #cac9c9;
          text-underline-offset: 2px;
          padding: 0.5rem;
          color: rgb(226, 221, 221);
          margin: 0.5rem auto 1.5rem;
        }
      }
  }

  

  &__results {
    height: 75%;
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    padding: 0.5rem;
    overflow: auto;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    &-info {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      width: calc(100% - 2rem);
      height: 75%;
      background-color: rgba(32, 31, 31, 0.959);
      padding: 0.5rem;
      display: none;
      justify-content: center;
      align-items: center;

      & svg {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      &--open {
        display: flex;
      }

      &-flipcard {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }

  
}

.role, .card {
  width: 31.5%;
  background-color: #686767;
  display: flex;
  margin-bottom: 0.3rem;
  align-items: center;

  &__image {
    max-width: 100%;
  }
}

.role {
  height: fit-content;
  justify-content: center;
}

.card {
  background-color: transparent;
  margin-bottom: 0.3rem;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 31%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 8.5rem;



  &__name {
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;

    &-text {
      color: #fff;
      font-size: 0.8em;
      font-family: vars.$fontAbril;
      text-transform: uppercase;
      text-align: center;

      &--too-long {
        font-size: 0.65em;;
      }

    }
  }
}
