@use 'src/styles/vars';

.message {
    display:flex;
    justify-content: space-evenly;

    &__icon {
        
        img {
            width: 5em;
            height: 5em;
            border-radius: 50%;
        }
    }

    &__content {
        width: 15em;
        height: auto;

        &-pseudo {
            font-weight: bolder;
            padding: 0.2em;
            text-transform: uppercase;
            font-variant: small-caps;
            font-family: vars.$fontRakkas;
        }

        &-msg {
            background-color: #6666664f;
            text-align: justify;
            padding: 1em;
        }
    }
}