@use 'src/styles/vars';

.message {
    display:flex;
    justify-content: space-evenly;
    margin-top: 2em;
    align-items: center;

    &--me {
        flex-direction: row-reverse;
    }

    &__icon {
        
        img {
            width: 3em;
            height: 3em;
            border-radius: 50%;
        }
    }

    &__content {
        width: 15em;
        height: auto;

        &-pseudo {
            font-weight: bolder;
            padding: 0.2em;
            text-transform: uppercase;
            font-variant: small-caps;
            font-family: vars.$fontRakkas;
            
            & span {
                font-family: initial;
                font-size: 0.8em;
                font-style: italic;
            } 
        }

        &-msg {
            background-color: #6666664f;
            text-align: justify;
            padding: 1em;
        }
    }
}