@use 'src/styles/vars';

.game {
  margin-top: vars.$navbar-height;
  height: calc(100vh-8rem);
  background-color: vars.$primary-color;
  background-color: vars.$quaternary-color;

  &__title {
    font-family: vars.$fontAbril;
    background-color: vars.$primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;


    & h2 {
      color: vars.$tertiary-color;
      font-family: vars.$fontAbril;
      filter: vars.$title-shadow;
    }  
  }

  &__content {
    height: 85%;
    overflow: auto;

    &-synopsis {
      padding: vars.$gutter;

      &-title {
        
        
      }

      &-image {
        width: 100px;
        height: 100px;
        margin-right: vars.$gutter;
        float: left;
        border: 1px solid black;
      }

      &-description {
        text-align: justify;
        
      }
      
    }

    &-roles {
      padding: vars.$gutter;
      
      &-list {
        padding-left: vars.$gutter;

        &-item {
          margin-bottom: 0.3rem;
        }
      }
    }

    &-specificity {
      padding: vars.$gutter;
      
      &-list {
        padding-left: vars.$gutter;

        &-item {
          margin-bottom: 0.3rem;
        }
      }
    }
  }

    &__synopsis {
      padding: vars.$gutter;

      &-title {
        
        
      }

      &-image {
        width: 100px;
        height: 100px;
        margin-right: vars.$gutter;
        float: left;
        border: 1px solid black;
      }

      &-description {
        text-align: justify;
        
      }
      
    }

    &__roles {
      padding: vars.$gutter;
      
      &-list {
        padding-left: vars.$gutter;

        &-item {
          margin-bottom: 0.3rem;
        }
      }
    }

    &__specificity {
      padding: vars.$gutter;
      
      &-list {
        padding-left: vars.$gutter;

        &-item {
          margin-bottom: 0.3rem;
        }
      }
    }
}
